body {
    background-image: linear-gradient(45deg, #003534, #020b20);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



.new-msg {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    filter: drop-shadow(0 0 40px rgb(1, 55, 18));
    margin-bottom: 3vh;
    animation: intro-down 0.5s ease 1;
}

.new-msg input {
    width: 80vw;
    max-width: 600px;
    height: 4vw;
    min-height: 40px;
    min-width: 40px;
    border-radius: 20px;
    border: none;
    padding: 0 2vw;
    font-size: 2vh;
    outline: none;
    background-color: #c4f8ff;
    font-family: monospace;
}

.new-msg input::placeholder {
    color: #52a0ba;
}

.new-msg button {
    width: 5vw;
    height: 5vw;
    min-width: 40px;
    min-height: 40px;
    margin-left: 10px;
    border-radius: 20px;
    border: none;
    background-color: #52a0ba;
    color: #ffffff;
    font-size: max(1.5vw,20px);
    cursor: pointer;
    transition: 0.2s ease;
}

.new-msg button:hover {
    background-color: #70f4e9;
    scale: 1.1;
}

.new-msg button:active {
    background-color: #5275ba;
    scale: 1;
}

.loading{
    width: 100vw;
    height: 100vh;
    background-color: #00000099;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: intro-down 0.5s ease 1;
}

.loading p {
    font-size: 3vh;
    color: #ffffff;
    font-family: monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 10vh;
}

@keyframes intro-down {
    0% {
        transform: translate(0, 100px);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}